<div class="home-teas">
<ul>
<%@teas.each do |k, v| %>
<div class="tea-type">
  <h2><%=k%> Teas</h2>

  <%v.each do |t|%>
    <li><a href="/teas/<%=t.id%>"><h3><%=t.name%></h3></a></li>
  <%end %>
</div>
<%end %>
</ul>
</div>
