
<div class="line-break">
  <div class="align-center">
    <form class="form" action="/login" method="post">
      <label for="username"><h3>Username:</h3></label>
      <input type="text" name="username" required="true" class="text-box"><br>
      <label for="password"><h3>Password:</h3></label>
      <input type="text" name="password" required="true" class="text-box"><br>
      <h3><input type="submit" value="Login" class="text-box"></h3>
    </form>
  </div>
</div>
