<div class="align-center">
  <div class="line-break">
    <form class="form" action="/signup" method="post">
      <label for="email"><h3>Email:</h3></label>
      <input type="text" name="email" required="true" class="text-box"><br>
      <label for="username"><h3>Username:</h3></label>
      <input type="text" name="username" required="true" class="text-box"><br>
      <label for="password"><h3>Password:</h3></label>
      <input type="text" name="password" required="true" class="text-box"><br>
      <h3><input type="submit" value="Signup" class="text-box"></h3>
    </form>
  </div>
</div>
