<form class="form" action="/posts/<%=@post.id%>" method="post">
  <h1><label>Content</label></h1>
  <h3><input type="text" name="content" value="<%=@post.content%>" required="true" class="text-box"></h3>
  <input type="submit" value="Update Post" class="text-box">
</form>
