<form class="form" action="/posts/<%=@post.id%>" method="post">
  <label><%=content%></label><br>
  <input type="text" name="content" required="true">
  <input type="submit" value="Update Post">
</form>
