<div class="header">
  <h1>Welcome To Tea Connoisseur!</h1>
  <em><h2>The Place Where Tea Enthusiast Meet</h2></em>
</div>
<a href="/login"><button type="button" name="button" class="button"><h3>Login</h3></button></a>
<a href="/signup"><button type="button" name="button" class="button"><h3>Signup</h3></button></a>
